
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="info-inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="info-wrap">
				<p>Copyright © 2023, — Все права защищены <br>Development & design — OOMY</p>
			</div>
		</div>
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li><a href="">Женское</a></li>
				<li><a href="">Мужское</a></li>
				<li><a href="">Аксессуары</a></li>
			</ul>
			<ul class="menu">
				<li><a href="">О нас</a></li>
				<li><a href="">Доставка и оплата</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
			<ul class="menu">
				<li><a href="">Вакансии</a></li>
				<li><a href="">Блог</a></li>
				<li><a href="">Подарочная карта</a></li>
			</ul>
		</div>
		<div class="contacts-inner-wrap">
			<div class="contacts-wrap">
				<div class="phone-wrap">
					<a href="tel:88003509385" class="link-phone">8 800 350-93-85</a>
				</div>
				<div class="shedule-wrap">c 10:00 до 19:00 пн-вс</div>
			</div>
			<div class="messages-wrap">
				<div class="button-wrap">
					<a href="" class="btn-action-icon">
						<div class="button-ico">
							<img src="./img/icons/ms01.svg" alt="">
						</div>
						<div class="button-title">WHATSAPP</div>
					</a>
				</div>
				<div class="button-wrap">
					<a href="" class="btn-action-icon">
						<div class="button-ico">
							<img src="./img/icons/ms02.svg" alt="">
						</div>
						<div class="button-title">TELEGRAM</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-succefull">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="elm-ico">
				<img src="./img/icons/succefull.svg" alt="">
			</div>
			<div class="popup-title">Спасибо за покупку</div>
			<p>Ваш заказ оформлен</p>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-button">
				<a href="" class="btn button-main">
					<div class="button-title">вернуться в каталог</div>
					<div class="button-ico">
						<img src="./img/icons/arrow-nav-light.svg" alt="">
					</div>
				</a>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->